<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamenative.fruitymatch">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="com.google.android.gms.permission.AD_ID" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Fruit_App_Controller"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen">
        <activity
            android:name=".Ads"
            android:exported="false" />
        <activity
            android:name=".Fruit_MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_Id" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="92Co8xNHTMT2_ta_X74W6xk5o_TBlXVxnDGyLFu93Ks7hCrKEPv0pSVXX44WaMNKPCxelF_Bbr6v1lsgskPsbi" />
    </application>

</manifest>